[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[48B0-2210]
row=0
col=0

[00BE2A28BE2A16A6]
row=2
col=0

[5AF0100FF00FEFD5]
row=3
col=0

[58B0A19AB0A17EDE]
row=1
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/root]
row=0
col=1

